@font-face {
    font-family: "hklm";
    src: url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/longmen/regular/hklm.eot"); /* IE9 */
    src: local("hklm"), url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/longmen/regular/hklm.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/longmen/regular/hklm.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/longmen/regular/hklm.woff") format("woff"), /* chrome, firefox */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/longmen/regular/hklm.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/longmen/regular/hklm.svg#hklm") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


