@font-face {
    font-family: "hkjgh-thin";
    src: url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/jinganghei/thin/hkjgh.eot"); /* IE9 */
    src: local("hkjgh-thin"), url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/jinganghei/thin/hkjgh.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/jinganghei/thin/hkjgh.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/jinganghei/thin/hkjgh.woff") format("woff"), /* chrome, firefox */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/jinganghei/thin/hkjgh.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/huakang/jinganghei/thin/hkjgh.svg#hkjgh-thin") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


