@font-face {
    font-family: "fzskb";
    src: url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/fangzheng/songkeben/traditional/regular/fzskb.eot"); /* IE9 */
    src: local("fzskb"), url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/fangzheng/songkeben/traditional/regular/fzskb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/fangzheng/songkeben/traditional/regular/fzskb.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/fangzheng/songkeben/traditional/regular/fzskb.woff") format("woff"), /* chrome, firefox */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/fangzheng/songkeben/traditional/regular/fzskb.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/fangzheng/songkeben/traditional/regular/fzskb.svg#fzskb") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


