@font-face {
    font-family: "ysbth";
    src: url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/youshe/biaotihei/regular/ysbth.eot"); /* IE9 */
    src: local("ysbth"), url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/youshe/biaotihei/regular/ysbth.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/youshe/biaotihei/regular/ysbth.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/youshe/biaotihei/regular/ysbth.woff") format("woff"), /* chrome, firefox */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/youshe/biaotihei/regular/ysbth.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/youshe/biaotihei/regular/ysbth.svg#ysbth") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


