@font-face {
    font-family: "vivo";
    src: url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/vivo/regular/vivo.eot"); /* IE9 */
    src: local("vivo"), url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/vivo/regular/vivo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/vivo/regular/vivo.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/vivo/regular/vivo.woff") format("woff"), /* chrome, firefox */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/vivo/regular/vivo.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("https://cdn.jsdelivr.net/gh/vhhgx/minimized_fonts/cn/vivo/regular/vivo.svg#vivo") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


